<launch>
  <arg name="robot_name" default="M350"/>
  <arg name="use_sim_time" default="false"/>
  <arg name="home_altitude_above_water" default="0.0"/>



  <group>
    <push-ros-namespace namespace="$(var robot_name)"/>
    <node name="dji_captain" pkg="dji_captain" exec="dji_captain" respawn="false" output="screen">
      <param name="home_altitude_above_water" value="$(var home_altitude_above_water)"/>
      <param name="use_sim_time" value="$(var use_sim_time)"/>
    </node>

    <node name="esc_splitter" pkg="dji_captain" exec="esc_splitter" respawn="false" output="screen">
      <param name="use_sim_time" value="$(var use_sim_time)"/>
    </node>

    
  </group>

  <include file="$(find-pkg-share alars_description)/launch/alars_description.launch">
    <arg name="robot_name" value="$(var robot_name)"/>
    <arg name="use_sim_time" value="$(var use_sim_time)"/>
  </include>



</launch>
